/*MEDIA QUERY*/
@media screen and (max-width: 1024px) {
  nav {
    h1 {
      flex: 1 1 5rem;
      font-size: 3.5rem;
    }
  }
  .nav-right {
    flex: 2.5 1 0rem;
  }
  .links ul {
    li {
      font-size: 2rem;
    }
  }
  button {
    width: 100%;
    font-size: 2rem;
    padding: 0.5rem;
  }
  /*INTRODUCTION SECTION*/

  .introduction {
    min-height: 40vh;
  }
  .introduction-text {
    flex: 2.5 1 30rem;
  }
  .introduction-text p {
    font-size: 2rem;
  }
  .introduction-text-links {
    button {
      width: 40%;
    }
  }
  .introduction-text-links ul {
    li {
      margin-left: 2rem;
      font-size: $extra-small;
    }
  }

  /*ABOUT ME*/
  .about-me {
    min-height: 60vh;
    padding: 10rem 0rem 2rem 0rem;
    @include flex(center, center, column-reverse);
  }
  .about-me-text {
    padding: 3rem 0rem 0rem 0rem;
  }
  .about-me-text h1 {
    padding: 1rem 0rem;
    font-size: 3.5rem;
  }
  .about-me-text p {
    font-size: 2rem;
  }

  /*WORK SECTION*/
  .work {
    min-height: 40vh;
    padding: 5rem 0rem;
  }
  .work-right {
    font-size: 1.4rem;
  }
  .work-body-top,
  .work-body-bottom {
    h6 {
      font-size: 1.2rem;
    }
    h5 {
      flex-wrap: wrap;
      font-size: 1.5rem;
    }
  }

  /*SKILL SECTION*/

  .skill {
    padding: 3rem 0rem 3rem 0rem;
  }

  .skill .cards {
    @include flex(center, center, column);
  }

  .card {
    margin: 1rem;
    padding: 3rem;
    width: 70%;
    text-align: center;
    box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.05);
    font-size: 1.5rem;
  }
  .card-img {
    display: flex;
    justify-content: center;
    padding: 1rem 0rem;
  }

  /*EXTRA SKILL SECTION*/
  .extra-skill-left {
    font-size: 1.4rem;
    flex: 2 1 15rem;
  }

  /*CONTACT SECTION*/
  .contact {
    padding-top: 10rem;
  }
  .contact-left {
    p {
      font-size: 1.4rem;
    }
  }

  /*FOOTER SECTION*/
  footer {
    min-height: 5vh;
  }
}

/**/
/**/
/*MEDIA QUERY AT 600PX*/

@media screen and (max-width: 600px) {
  .header,
  main {
    width: 90%;
  }
  nav {
    h1 {
      font-size: 2rem;
    }
  }
  .links ul {
    padding: 0;
    width: 60%;
    li {
      margin: 0;
      font-size: 1rem;
    }
  }
  button {
    width: 100%;
    font-size: 1rem;
  }

  /*INTRODUCTION SECTION*/
  .introduction {
    padding: 3rem 0rem 0rem 0rem;
    @include flex(space-between, center, column-reverse);
  }
  .introduction-image {
    width: 70%;
  }

  .introduction-text h1 {
    font-size: 2rem;
  }
  .introduction-text p {
    font-size: 1rem;
  }
  .introduction-text-links {
    width: 100%;
    .button {
      width: 20%;
    }
    button {
      width: 100%;
      font-size: 1rem;
    }
  }
  .introduction-text-links ul {
    li {
      margin-left: 2rem;
      font-size: 1.5rem;
    }
  }

  /*ABOUT ME*/
  .about-me {
    min-height: 40vh;
    padding: 0rem 0rem 2rem 0rem;
    @include flex(center, center, column-reverse);
  }
  .about-me-text {
    padding: 0;
  }
  .about-me-text h1 {
    font-size: 2rem;
  }
  .about-me-text p {
    font-size: 1rem;
  }
  .about-me-img {
    width: 70%;
  }

  /*WORK SECTION*/
  .work {
    min-height: 30vh;
    padding: 3rem 0rem;
  }
  .work-left {
    font-size: 1rem;
  }
  .work-right {
    font-size: 0.7rem;
  }
  .work-body {
    @include flex(center, flex-start, row);
  }
  .work-body-top,
  .work-body-bottom {
    @include flex(space-between, flex-start, column);
    h6 {
      font-size: 0.8rem;
    }
    h5 {
      font-size: 0.8rem;
    }
  }
  .work-item {
    margin: 0.5rem 2rem 0.5rem 0rem;
  }

  /*SKILL SECTION*/

  .skill {
    padding: 0;
  }
  .skill header {
    font-size: 1rem;
  }
  .card {
    margin: 0.5rem;
    padding: 1rem;
    width: 100%;
    font-size: 1rem;
  }

  /*GALLERY SECTION*/
  .gallery header h1 {
    font-size: 1.5rem;
    padding: 2rem 0rem;
  }

  /*EXTRA SKILL SECTION*/
  .extra-skill-left {
    font-size: 1rem;
    flex: 4 1 20rem;
  }

  /*CONTACT SECTION*/
  .contact {
    padding-top: 3rem;
  }
  .contact-left {
    h2 {
      font-size: 2rem;
    }
    p {
      font-size: 1rem;
      line-height: 1.2rem;
    }
  }
  .contact-left button {
    padding: 0.5rem;
    font-size: 1rem;
    width: 50%;
  }
  .contact-right {
    h2 {
      font-size: 2rem;
    }
  }
  .contact-right .dribble {
    font-size: 1rem;
    line-height: 2rem;
    padding-bottom: 4rem;
  }

  /*FOOTER SECTION*/
  footer {
    min-height: 5vh;
    font-size: 1rem;
  }
}

/**/
/**/
/*MEDIA QUERY AT 450PX*/

@media screen and (max-width: 450px) {
  .header,
  main {
    width: 90%;
  }
  nav {
    h1 {
      font-size: 2rem;
    }
  }
  .links ul {
    padding: 0;
    width: 80%;
    li {
      margin: 0;
      font-size: 0.9rem;
    }
  }
  .button {
    width: 40%;
  }
  button {
    width: 100%;
    font-size: 0.8rem;
  }

  /*INTRODUCTION SECTION*/
  .introduction {
    padding: 2rem 0rem;
  }
  .introduction-image {
    width: 90%;
  }
  .introduction-text-links {
    .button {
      width: 30%;
    }
  }

  /*ABOUT ME*/
  .about-me {
    padding: 0;
  }
  .about-me-text h1 {
    font-size: 1.5rem;
  }
  .about-me-img {
    width: 90%;
  }

  /*WORK SECTION*/
  .work-left {
    font-size: 0.8rem;
  }
  .work-right {
    font-size: 0.6rem;
    margin-left: 0.5rem;
  }
  .work-body {
    @include flex(center, flex-start, column);
  }
  .work-body-top,
  .work-body-bottom {
    @include flex(space-between, flex-start, column);
    h6 {
      font-size: 0.8rem;
    }
    h5 {
      font-size: 1rem;
    }
  }
  .work-item {
    margin: 0.2rem 2rem 0.5rem 0rem;
  }

  /*SKILL SECTION*/

  .skill {
    padding: 0;
  }
  .skill header {
    font-size: 1rem;
  }
  .card {
    margin: 0.5rem;
    padding: 1rem;
    width: 100%;
    font-size: 0.8rem;
  }

  /*GALLERY SECTION*/
  .gallery header h1 {
    font-size: 1.5rem;
    padding: 2rem 0rem;
  }

  /*EXTRA SKILL SECTION*/
  .extra-skill-left {
    font-size: 1rem;
    flex: 5 1 30rem;
  }
  .extra-skill-right {
    display: none;
  }

  /*CONTACT SECTION*/
  .contact {
    min-height: 30vh;
    padding-top: 2rem;
    @include flex(space-between, center, column);
  }
  .contact-left {
    h2 {
      font-size: 2rem;
      padding: 2rem 0rem;
    }
    p {
      font-size: 1rem;
      line-height: 1.2rem;
    }
  }
  .contact-left button {
    padding: 0.5rem;
    font-size: 1rem;
    width: 40%;
  }
  .contact-right {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    h2 {
      font-size: 2rem;
      padding: 2rem 0rem 1rem 0rem;
    }
  }
  .contact-right .dribble {
    font-size: 1.2rem;
    line-height: 2.5rem;
    padding-bottom: 4rem;
  }

  /*FOOTER SECTION*/
  footer {
    min-height: 5vh;
    font-size: 1rem;
  }
}

/**/
/*MEDIA QUERY AT 375PX*/
@media screen and (max-width: 375px) {
  .nav-right {
    flex: 5 1 0rem;
  }
  .links ul {
    li {
      margin-left: 0.5rem;
      font-size: 0.9rem;
    }
  }
  .button {
    margin-left: 0.2rem;
  }
}
